{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div style="background-image: url('{% static "img/Untitled design (4).png" %}'); height: 82vh; background-size: cover; background-position: center;">
    <div class="card col-10 mx-auto bg-transparent">
        <div class="card-body" style="padding-top: 16vh;">
            <h1 class="card-title text-center font-weight-bold text-light">Discover Amazing Places</h1>
            <p class="card-text text-justify text-center text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta earum ea consectetur numquam quia! Culpa quam tempora id deserunt consequuntur iure explicabo magni praesentium ad, eligendi perferendis quo aliquid obcaecati?</p>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card" style="padding-top: 1vh; background-color: transparent;">
            <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-3 mb-2">
                    <div id="basic" class="form-outline">
                        <input type="text" class="form-control" placeholder="What are you looking for?">
                    </div>
                  </div>
                  <div class="col-md-3 mb-2">
                    <div id="location" class="form-outline">
                        <input type="text" class="form-control" placeholder="Enter Location">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" style="padding-left: 107.7vh;">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</div>
{% endblock %}
